@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Trirong:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* headings and logo */

h1 {
    font-family: Trirong, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

h2.logo {
    font-family: Trirong, sans-serif;
    text-align: center;
    letter-spacing: 3px;
}

#logo {
    width: 25%;
    height: 75px;
    float: left;
}

#logo a {
    text-decoration: none;
}