@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Trirong:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* headings and logo */

h1 {
    font-family: Trirong, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    width: 450px;
    height: 75px;
    float: left;
    text-align: center;
}

h2.logo {
    font-family: Trirong, sans-serif;
    letter-spacing: 3px;
    line-height: 30%;
}

#logo a {
    text-decoration: none;
}

/* Navigation */

#navigation {
    letter-spacing: 3px;
    line-height: 75px;
}

nav > ul {
    text-align: right;
}

#navigation li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 1px solid red;
}

.active {
    border-bottom: 1px solid red;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/victoria-sponge.jpg') no-repeat center center;
}

#cover-text {
    font-family: Trirong, sans-serif;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 75px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;


    width: 400px;
    height: 150px;

    background-color: white;

    top: 75px;
    left: 25px;

    position: absolute;
}

#about {
    margin: 25px 50px;
}

#about-bakery {
    background-color: pink;
}

#about-afternoon-tea {
    background-color: orange;
}

#about-celebration-cakes {
    background-color: purple;
}

#about-bakery > img {
    width: 30%;
    border-radius: 25px;
}