/* Import url for google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Trirong:wght@300&display=swap');

/* Universal style selector to set initial styles for all elements */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Style rule for body elements */
body {
    font-family: "Open Sans", sans-serif;
}

/* Style rules used by sections containing columns */
/* Style rule to make elements act like a table for positioning */
.container {
    display: table;
    padding: 0 50px 0;
}

/* Style rule to clear floats after the columns to display subsequent elements below the row */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style rules for headings and logo to set font and text properties */
h1 {
    font-family: Trirong, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h3 {
    font-family: Trirong, sans-serif;
}

/* Style rule to display decorative element and set size and position */
.decor {
    height: 30px;
    width: 400px;
    background: url(../images/decor.png) no-repeat center center;
    background-size: contain;
}

/* Style rule to display element upside down */
.invert {
    transform: scaleY(-1);
}

/* Stle rules for logo to set element size and position */
#logo {
    width: 500px;
    height: 75px;
    float: left;
    text-align: center;
}

h2.logo {
    font-family: Trirong, sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 30%;
}

#logo a {
    text-decoration: none;
    color: black;

}

/* Navigation */
#navigation {
    letter-spacing: 3px;
    line-height: 75px;
}

nav>ul {
    text-align: right;
}

#navigation li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 1px solid red;
}

.active {
    border-bottom: 1px solid red;
}

/* HERO IMAGE */
/* Style rule to display the hero image and set size and position */
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/victoria-sponge.jpg') no-repeat center center;
}

/* COVER TEXT */
/* */
#cover-text {
    font-family: Trirong, sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
    padding: 30px 5px 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;


    width: 400px;
    height: 150px;

    background-color: white;

    top: 75px;
    left: 50px;

    position: absolute;
}

/* Style rule to add margin below decorative element */
#cover-text .decor {
    margin-bottom: 10px;
}

/* ABOUT */
/* Style rules to create two columns that float next to eachother for about text and respective images */
.col-about {
    display: table-cell;
    float: left;
    text-align: justify;
    height: 300px;
    width: 60%;
    padding: 20px 10px 20px;
    /* background-color: aqua; */
}

.col-about-img {
    display: table-cell;
    float: left;
    text-align: center;
    height: 300px;
    width: 40%;
    padding: 20px 10px 20px;
    /* background-color: aqua; */
}

/* Style rule to horizontally center about content on the page */
.col-about div {
    height: 90%;
    margin: auto;
}

/* Style rule to size the images to fit the space in the column and set curved corners */
img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
}

/* TESTIMONIALS */
/* Style rule to center testimonials text */
#testimonials {
    text-align: center;
    height: 300px;
    padding: 75px 0;
}

/* Style rule to create three columns that float next to each other for testimonial content*/
.col-review {
    float: left;
    min-height: 150px;
    width: 33%;
    margin-top: 3px;
    /* background-color: pink; */
}

/* Style rule to add padding*/
.review {
    padding: 10px;
}

/* Style rule to set color of stars to gold */
.star-color {
    color: gold;
}

/* NEWSLETTER SIGN-UP */
/* Style rule to */
.sign-up-form {
    height: 300px;
    max-width: fit-content;
    margin: auto;
}

/* Style rule to center sign-up-form content */
.sign-up-form .container {
    margin: auto;
}

/* Style rule to set size, position and color of newsletter header */
.nl-header {
    width: 100%;
    text-align: center;
    /* background-color: aquamarine; */
}

.sign-up-form .decor {
    margin: auto;
}

/* Style the input elements and the submit button */
input[type=text],
input[type=email],
input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

/* FOOTER */
/* Style rule to */
footer {
    height: 75px;
    background-color: lightgoldenrodyellow;
}

/* Style rule to */
.social-media {
    text-align: center;
}

/* Style rule to */
.social-media>li {
    display: inline;
}

/* Style rule to */
.social-media i {
    font-size: 200%;
    margin: 20px 10%;
}

/* RESPONSIVENESS */

/* Devices up to 992px */
@media only screen and (max-width: 992px) {

    /* Style rules to position logo accross the whole width of the page */
    header {
        height: 75px;
    }

    #logo {
        width: 100%;
        float: none;
        margin: auto;
    }

    /* Style rule to position navigation links below cover text and add border to separate*/
    #navigation {
        width: 100%;
        background-color: white;
        border-top: 1px solid black;
        position: absolute;
        top: 150px;
    }

    /* Style rule to center navigation links */
    nav>ul {
        text-align: center;
    }

    /* Style rule to set left and right margins on navigation links */
    #navigation li {
        margin: 0 8px 0;
    }

    /* Style rule to set size and position of cover text, and remove curved bottom corners */
    #cover-text {
        height: 75px;
        width: 100%;
        left: 0;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 0;
    }

    /* Style rule to set size and position of decorative element */
    #decor {
        width: 100%;
        margin: 3px 0 3px;
    }

    #testimonials {
        padding: 0;
    }

    /* Style rule to make the columns appear on top of each other instead of next to each other on small screens */
    .col-about,
    .col-about-img,
    .col-review {
        width: 100%;
        text-align: center;
    }

    /* Style rules to make the element height responsive to height of content */
    .col-about,
    .col-about-img,
    #testimonials {
        height: auto;
    }

    .col-review {
        min-height: auto;
    }
}

/* Devices up to 768px */
@media only screen and (max-width: 768px) {

    /* Style rule to make the font size of cover-text 2.5% of screen width */
    #cover-text {
        font-size: 2.5vw;
        padding: 0 3px 0;
    }
}

/* Devices up to 600px */
@media screen and (max-width: 600px) {

    .review {
        font-size: 2.7vw;
    }

    /* Style rule to set top and bottom padding of newsletter sign-up heading */
    /* .sign-up {
        padding: 10px 0 10px;
    }

    .col-nl-label {
        float: left;
        width: 38%;
        height: 30px;
        text-align: right;
    }

    .col-nl-input {
        float: left;
        width: 62%;
        height: 30px;
    }

    .col-nl-submit {
        float: left;
        width: 100%;
        height: 30px;
    }

    .col-nl-submit {
        width: 100%;
        text-align: center;
    }

    .nl-input {
        margin-left: 5px;
    } */
}